<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/common/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/layoutit/layoutit.css">
    <link rel="stylesheet" type="text/css" href="/css/activiti/activiti.css">

    <script type="text/javascript" src="/js/lib/require/require.js"></script>
    <script type="text/javascript" src="/js/activiti/activiti-config.js"></script>
    <script>
        requirejs(['/js/activiti/form-main.js'])
    </script>
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column  no-border">
                <div class="jumbotron">
                    <h1>
                        Hello, world!
                    </h1>
                    <p>
                        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and
                        three supporting pieces of content. Use it as a starting point to create something more unique.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="#">Learn more</a>
                    </p>
                </div>
                <div class="row clearfix" :controller="coreModuleVMC">
                    <div class="col-md-4 column no-border" :for="(index,el) in modules">
                        <h2 :text="el.title"></h2>
                        <p :text="el.desc"></p>
                        <p>
                            <a class="btn" :attr="{'href':el.url}" :click="@go(el.url)">View details »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>